<!DOCTYPE html>
<html>
<head>
    <title>Oh no, error occured. </title>
    
</head>
<body>
    

    <div class="container">
      <div class="page-header m-t-1">
        <h1>Error info: <%= message %></h1>
		<h2><%= error.status %></h2>
		<pre><%= error.stack %></pre>
      </div>

    </div>

    
    
</body>
</html>
