<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Night radar!
    </h1>
    <span *ngIf="currentUser; else loginBlock;"> Welcome, {{currentUser}} </span>
    <ng-template #loginBlock><button (click)="login()"> Login </button> </ng-template>

    <div>
        <div>
            <label for="searchStr">Where are you going tonight?</label>
            <input type="text" name="searchStr" #searchStr>
            <button (click)="getPlaces(searchStr.value)">Run radar</button>
        </div>
    </div>

    <div *ngIf="places != null">
        <ul>
            <li *ngFor="let place of places">
                <div class="box">

                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-64x64">

                                <img *ngIf="place.url" src="{{place.url}}" alt="picture of {{place.name}}" />

                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>

                                    <strong>{{place.name}}</strong>
                                    <br> {{place.description}}
                                    <br> {{place.placeId}}
                                    <br> {{place.uservisit}}

                                    <span>going: {{place.count}} </span>
                                </p>
                                <div *ngIf="currentUser">
                                    <button [hidden]="place.uservisit" (click)="goToPlace(place)"> Go!</button>
                                    <button [hidden]="!place.uservisit" (click)="notGoToPlace(place)">UnGo!</button>
                                </div>


                            </div>
                        </div>
                    </article>



                </div>

            </li>
        </ul>
    </div>

</div>