<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Night radar!
    </h1>
    <span *ngIf="currentUser; else loginBlock;"> Welcome, {{currentUser}} </span>
    <ng-template #loginBlock><button (click)="login()"> Login </button> </ng-template>

    <div>
        <div>
            <label for="searchStr">Where are you going tonight?</label>
            <input type="text" name="searchStr" #searchStr>
            <button (click)="getPlaces(searchStr.value)">Run radar</button>
        </div>
    </div>

    <div *ngIf="places != null">
        <ul>
            <li *ngFor="let place of places">
                <div>
                    <img *ngIf="place.url" src="{{place.url}}" alt="picture of {{place.name}}" />
                    <span> '{{place.name}}' {{place.description}} are going: {{place.count}} </span>
                    <button *ngIf="currentUser" (click)="goToPlace(place)"> Go!</button>
                    <button *ngIf="currentUser" (click)="notGoToPlace(place)">UnGo!</button>
                </div>

            </li>
        </ul>
    </div>

</div>