<!--The content below is only a placeholder and can be replaced.-->
<section class="hero is-primary is-fullheight">
    <div class="hero-head ">
        <header class="nav ">
            <div class="container ">
                <div class="nav-left">


                </div>
                <div class="nav-right">
                    <a *ngIf="!user" class="nav-item">
                        <span> Sign in: </span>
                        <button class="button is-primary is-inverted" (click)="signInWithGoogle()"><span class="fa fa-google"></span></button>
                    </a>
                    <div *ngIf="user" class="media">
                        <a class="nav-item">
                            <img src="{{ user.photoUrl }}">
                        </a>

                        <a class="nav-item">
                            <div class="field is-grouped is-grouped-multiline">
                                <h4>{{ user.name }}</h4>
                                <!--p>{{ user.email }}</p-->
                            </div>
                        </a>

                        <a class="nav-item">
                            <button class="button is-warning " (click)="signOut()">Sign out</button>
                        </a>

                    </div>


                </div>
            </div>

        </header>
    </div>

    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Night life radar.
            </h1>
            <h2 class="subtitle">
                Plans tonight? Enter location and see places to go.(Sign in for intention to go)
            </h2>

            <places> </places>

        </div>
    </div>
</section>