<!--The content below is only a placeholder and can be replaced.-->

<section class="hero is-primary">

    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Business info

                <button (click)="goBack()">Back</button>
            </h1>
            <div *ngIf="place">
                <label>id: </label>{{place.id}}</div>
            <div>

                <h2 class="subtitle">
                    reviews, rating and etc
                </h2>



            </div>
        </div>
    </div>
</section>