<!--The content below is only a placeholder and can be replaced.-->


<div>
    <div class="field">
        <label class="label">Enter location</label>
        <div class="control">
            <input class="input" name="searchStr" #searchStr type="text" placeholder="e.g. New York" accesskey="Enter">
            <p class="help">location to find places, city and street</p>
            <button class="button is-warning" (click)="getPlaces(searchStr.value)">Radar, search!</button> </div>
    </div>

</div>



<div *ngIf="places != null">

    <ul>
        <li *ngFor="let place of places">
            <div class="box">


                <article class="media">
                    <div class="media-left">
                        <figure class="image is-64x64">

                            <img *ngIf="place.url" src="{{place.url}}" alt="picture of {{place.name}}" />


                        </figure>


                        <div class="field is-grouped is-grouped-multiline">


                            <div class="control">
                                <div class="tags has-addons">
                                    <span class="tag is-dark">rating</span>
                                    <span class="tag is-info">{{place.rating}}</span>
                                </div>
                            </div>

                            <div class="control">
                                <div class="tags has-addons">
                                    <span class="tag is-dark">price</span>
                                    <span class="tag is-success">{{place.price}}</span>
                                </div>
                            </div>

                        </div>


                    </div>
                    <div class="media-content">
                        <div class="content">


                            <strong>{{place.name}}</strong>
                            <br> {{place.description}}
                            <br> {{place.phone}}
                            <br> {{place.location}}

                            <div class="control">
                                <div class="tags has-addons">
                                    <span class="tag is-dark">going</span>
                                    <span class="tag is-success">{{place.count}}</span>
                                </div>
                            </div>



                            <div *ngIf="currentUser ">
                                <button *ngIf="!place.uservisit" class="button is-warning " (click)="goToPlace(place) "> Go!</button>
                                <button *ngIf="place.uservisit" class="button is-warning " (click)="notGoToPlace(place) ">UnGo!</button>
                            </div>

                            <!--button (click)="gotoDetail(place)" class="button is-info">Open place card</button-->

                        </div>
                    </div>
                </article>



            </div>

        </li>
    </ul>
</div>